h1{
    font-family: 'Roboto', sans-serif;
    font-size: 2.0rem;
    display: block;
}
h2{
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 2.0rem;
    margin-top: 40px;
}
#inicio{
    display: flex;
    flex-direction: column;
    margin-top: 90px;
    text-align: justify;
    justify-content: center;
    align-items: center;

}
p{
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9rem;
}

#calc{
    width: 400px;
    height: 500px;
    border-radius: 23px;
    margin-top: 30px;
    
}
#exemplo{
    width: 600px;
    height: 500px;
    border: solid 4px black;
}

